body {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

.dark-mode {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.cardSwitch {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 700px) {
  .inputUp {
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }

  .selectUp {
    width: 70% !important;
    margin: 0 auto !important;
    margin-top: 2% !important;
  }
}
